/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ******************* NavBar******************* */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: #f508d5;
    background-image: linear-gradient(225deg, #2B86C5 0%, #784BA0 40%, #FF3CAC 100%);
}
.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
}

.menu {
    width: 60%;
    height: 100%;
    float: right;
}
.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.menu ul a {
    width: 20%;
    height: inherit;
    color: #222;
    display: inline-block;
}
.menu ul a:hover {
    background-color: #222;
    color: #fff;
}
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}



@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
       
      }
    .menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        background-color: #f508d5;
        padding: 10px 0px 10px 5%;
    }
    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }
    #menuToggle:checked ~ ul {
      max-height: 350px;
        
    }
    .menu-icon i {
        font-size: 1.7em;
    }
  }


/* Footer */
footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 17%;
  margin-top: 10px;
  
}
.bg{
  background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
 
}
#footer .twitter {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
#footer .linkedin {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -78px 0;
}
#footer .facebook {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -233px 0;
}
#footer .skype {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -156px 0;
}
#footer .flickr {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -310px 0;
}
#footer a {
  height: 56px;
  width: 56px;
  display: inline-block;
  margin: 10px 10px 2px 10px;
  /* padding-bottom: 2px; */
}
#footer a:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
#footer .twitter:hover {
  background-position: 0 -56px;
}
#footer .facebook:hover {
  background-position: -233px -56px;
}
#footer .skype:hover {
  background-position: -156px -56px;
}
#footer .linkedin:hover {
  background-position: -78px -56px;
}
#footer .flickr:hover {
  background-position: -310px -56px;
}

.tg{
  font-size: large;
  color: aliceblue;
  padding-bottom: 10px;
  margin-top: 0%;
  padding-top: 0%;
}




/* TodoList */

.container{
  text-align: center;
}